.App {
  text-align: center;
}
.App-header {
  background-color: black;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.center{
  margin: 0 auto;
}
.changecolor{
  font-size: 48px;
  font-family: futura;
  font-weight: bold;
  -webkit-animation: textcolorchange 10s infinite alternate;
}
@keyframes textcolorchange{
  0%{
    color: blue;
  }
  10%{
    color: pink;
  }
  20%{
    color: yellow;
  }
  30%{
    color: green;
  }
  40%{
    color: red;
  }
  50%{
    color: white;
  }
  60%{
    color: pink;
  }
  70%{
    color: yellow;
  }
  80%{
    color: green;
  }
  90%{
    color: red;
  }
  100%{
    color: white;
  }
  
}


.button-1{
  position: relative;
  height: 50px;
  background-color: transparent;
  border: 5px solid #6437A0;
  border-radius: 50px;
  color: #6437A0;
  width: 170px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
}
.button-1:hover {
  box-shadow: 0 0 25px 0 #6437A0 inset, 0 0 40px 2px #6437A0;
  border: 3px solid #6437A0;
}
/* ========================================================================================================
Box Shadow  - SYNTAX

h-offset- horizontal "positive value show the shadow on right side" and "negative value show the shadow on left side"
v-offset- vertical "Positive value show the shadow on below" and "negative value show the shadow on above"
blur: Its "Optional" Higher number more blurred shadow
spread: Its "Optional" Positive value increase the size of shadow and Negative value decrease the size of shadow
color: Its "Optional" "Default color text color" 
inset: Its "Optional" Change shadow from "outer to inner shadow"

box-shadow: h-offset v-offset blur spread color inset;
====================================================================================== */


.box{
  box-shadow: 10px 10px 0px 20px yellow inset;
  border-radius: 15px;
  background-color: #6437A0;
  position: relative;
  height: 15rem;
  width: 20rem;
  padding: 15px;
  text-align: center;
  color:  white;
}
.text{
  padding: 35px;
}


/* ==============================================================
Justify-content Syntax
justify-content: flex-start|flex-end|
center|space-between|space-around|
space-evenly;
================================================================ */
#main{
  border: 2px solid white;
  width: 600px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
}
.just{
  background-color: red;
  width: 70px;
  height: 70px;
}


div:nth-child(2){
  background-color: blue;
}
div:nth-child(3){
  background-color: white;
}
div:nth-child(4){
  background-color: green;
}
div:nth-child(5){
  background-color: violet;
}
div:nth-child(6){
  background-color: indigo;
}